# Server
PORT=4000
NODE_ENV=development

# Cloud
AZURE_SECRET=-UP-ASR30-b-_L2zwL0oY9_.XU7WQF7rj2
AZURE_ID=83caf9e1-a5e6-4d7c-a143-5297432b94a4
AZURE_REDIRECT=http://localhost:4000/outlook/redirect
AZURE_STATE=AZURE-RANDOMID@@--123

AZURE_SECRET=H_W~r.rfB.1qu.wfA041S2cYx902HnL~iD
AZURE_ID=f3b8af56-2800-45c2-afaa-2888c61cf413
AZURE_REDIRECT=http://localhost:4000/auth/microsoft
AZURE_STATE=AZURE-RANDOMID@@--123

CONNECTIONSTRINGPRIMARYKEY=Endpoint=sb://outlookcalendar.servicebus.windows.net/;SharedAccessKeyName=sharedAccessPolicies;SharedAccessKey=NmolM6BmxEITwSaroa8yNhdquYg9jsGn8XwjnDB66Ns=
VAULT_URI=https://keyvaultoutlookcalendar.vault.azure.net/
SECRETIDENTIFILED=https://keyvaultoutlookcalendar.vault.azure.net/secrets/nrx2/589bfaeb1ef2487e86a8c2adc460a373

NOTIFICATION_Url=https://keyvaultoutlookcalendar.vault.azure.net/secrets/nrx2?tenantId=3af143b6-2667-4668-831f-2b5636512e54
TENANT_ID=3af143b6-2667-4668-831f-2b5636512e54
PRIMARYDOMAIN=xdatgdgmail.onmicrosoft.com
